body {
	font-size: 18px;	
}

.content_container {

    margin-top:     90px;
    padding:        0px;

}

@media (max-width: 991px) {

    .content_container {

        margin:         90px 20px 20px 20px;

    }

}

.btn {

    float:              right;

}

.img-rounded {

    width:              300px;
    min-height:             300px;
    margin-left:        -150px;
    position:           relative;
    left:               50%;
    border:             1px solid #999;
    background-position: center center;
    background-size: cover;

}